<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}NovaCode AI{% endblock %}
    </title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

        <link rel="icon"
            type="image/png"
            href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

    

    <link rel="stylesheet"href="{{ url_for('static', filename='css/history.css') }}">

    <link rel="stylesheet"href="{{ url_for('static', filename='css/profile.css') }}">

    <!-- Prism CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet">

</head>

<body>

    <!-- ================= Navbar ================= -->

<nav>

    <div class="logo">
        <a href="{{ url_for('home.index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="NovaCode AI Logo">
        </a>
    </div>

    <ul>

        <li><a href="{{ url_for('home.index') }}">Home</a></li>


        <li><a href="{{ url_for('generator.generate') }}">Generator</a></li>

        <li><a href="{{ url_for('history.index') }}">History</a></li>

        <li><a href="{{ url_for('assistant.index') }}">AI Assistant</a></li>

        <li><a href="{{ url_for('profile.index') }}">Profile</a></li>

        <li><a href="{{ url_for('auth.login') }}">Login</a></li>

        <li><a href="{{ url_for('auth.register') }}">Register</a></li>

    </ul>

</nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- ================ Main Content ================ -->

    <main>

        {% block content %}

        {% endblock %}

    </main>

    <!-- ================= Footer ================= -->

    <footer>

        <p>
            © 2026 NovaCode AI | AI Code Generator
        </p>

    </footer>

    <!-- Prism JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-cpp.min.js"></script>

</body>

</html>